@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: "Pally";
  src: url("/data/font/Pally-Regular.woff2") format("woff2"), url("/data/font/Pally-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Pally";
  src: url("/data/font/Pally-Medium.woff2") format("woff2"), url("/data/font/Pally-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Pally";
  src: url("/data/font/Pally-Bold.woff2") format("woff2"), url("/data/font/Pally-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "VideoDojo Icons";
  src: url("/data/font/videodojo.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
:root {
  scroll-behavior: smooth;
  --swatch-vd-red: #FF6666;
  --swatch-vd-white: #FFFFFF;
  --swatch-vd-cream: #FFF9EF;
  --swatch-vd-ink: #10143E;
  --color-text: var(--swatch-vd-ink);
  --color-accent: var(--swatch-vd-red);
  --color-container: transparent;
  --size-px: 1px;
  --size-2px: 2px;
  --size-25: 0.25rem;
  --size-50: 0.5rem;
  --size-75: 0.75rem;
  --size-100: 1rem;
  --size-125: 1.25rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-250: 2.5rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
  --size-800: 8rem;
  --size-900: 9rem;
  --size-1000: 10rem;
}

body {
  font-family: "Pally", system-ui, -apple-system, sans-serif;
  font-size: var(--size-125);
  line-height: 1.5;
  color: var(--color-text);
  text-decoration-color: var(--color-accent);
}

a:any-link {
  color: inherit;
}

.icon {
  font-family: "VideoDojo Icons";
  font-size: var(--size-150);
  font-weight: 400;
  color: inherit;
}

header, footer {
  display: grid;
  grid-template-columns: 1fr min(1200px, 100%) 1fr;
  padding-inline: var(--size-100);
  background: var(--swatch-vd-red);
  color: var(--swatch-vd-white);
  --color-accent: var(--swatch-vd-white);
}

:is(header, footer) > * {
  grid-column: 2;
}

header {
  padding-block: var(--size-100);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  max-width: var(--size-500);
}
header menu {
  list-style: none;
  display: none;
  flex-direction: row;
  gap: var(--size-200);
  align-items: center;
  font-weight: bold;
}
header menu > a:any-link {
  text-decoration: none;
}
header menu > a:any-link:hover {
  text-decoration: underline;
}

footer {
  padding-block: var(--size-200);
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
}
footer .footer-logo-static {
  width: 100%;
  display: block;
}
footer .footer-logo {
  display: none;
  max-width: 20rem;
  position: relative;
}
footer .footer-logo-eye {
  position: absolute;
  left: 118px;
  top: 112px;
}
footer .footer-logo-eye:last-of-type {
  position: absolute;
  left: 226px;
  top: 112px;
}
footer menu {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--size-50);
  align-items: flex-start;
  text-align: start;
}
footer menu .socials {
  display: flex;
  gap: var(--size-100);
}
footer menu .socials a {
  text-decoration: none;
}

details.dropdown {
  position: relative;
}
details.dropdown summary {
  list-style: none;
  cursor: pointer;
}
details.dropdown summary > .icon::before {
  content: "🗄️";
}
details.dropdown menu {
  --color-accent: var(--swatch-vd-red);
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
  gap: 0;
  width: max-content;
  padding: 0.5rem 0;
  position: absolute;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1000;
  margin-block-start: 2rem;
}
details.dropdown menu .button {
  width: 100%;
  text-align: start;
  justify-content: flex-start;
  border-radius: 0;
}

details[open].dropdown > summary > .icon::before {
  content: "❌";
}

details.dropdown > summary::-webkit-details-marker {
  display: none;
}

section, article {
  background: var(--color-container);
}

.small-text {
  font-size: 0.75em;
}

@media screen and (min-width: 1280px) {
  header menu {
    display: flex;
  }
  header details.dropdown {
    display: none;
  }
  footer {
    padding-block: var(--size-400);
  }
  footer nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr repeat(2, 20rem);
    gap: 3rem;
  }
  footer .footer-logo-static {
    display: none;
  }
  footer .footer-logo {
    display: block;
    max-width: 20rem;
    position: relative;
    margin-block: -2rem;
  }
  footer .footer-logo-eye {
    position: absolute;
    left: 118px;
    top: 112px;
  }
  footer .footer-logo-eye:last-of-type {
    position: absolute;
    left: 226px;
    top: 112px;
  }
  footer menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--size-100);
    align-items: flex-end;
    text-align: end;
    justify-content: flex-start;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Cherry Bomb One", system-ui, -apple-system, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  text-wrap: balance;
  color: var(--color-accent);
}

h1 {
  font-size: var(--size-400);
}
h1:not(:last-child) {
  margin-block-end: var(--size-100);
}

h3 {
  font-size: var(--size-200);
}
h3 > span {
  font-size: var(--size-100);
}

a:any-link {
  color: inherit;
  text-decoration-color: var(--color-accent);
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: var(--size-500);
  }
  h3 {
    font-size: var(--size-250);
  }
  h3 > span {
    font-size: var(--size-150);
  }
}
section {
  display: grid;
  grid-template-columns: 1fr min(1200px, 100%) 1fr;
  padding-block: var(--size-400);
  padding-inline: var(--size-100);
}
section > * {
  grid-column: 2;
}

.hero-layout {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  gap: var(--size-100);
  align-items: center;
}

.hero-summary > p {
  font-size: var(--size-150);
}

.hero-illustration {
  display: flex;
  justify-content: center;
  grid-row: 1;
  grid-column: 1;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-100);
  margin-block-start: var(--size-300);
}

.team-card {
  --color-container: var(--swatch-vd-white);
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
  align-items: center;
  padding: var(--size-200);
  border-radius: var(--size-200);
}
.team-card img {
  max-height: var(--size-1000);
}
.team-card div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card .team-links {
  margin-block-start: var(--size-100);
  display: flex;
  flex-direction: row;
  gap: var(--size-50);
}
.team-card .team-links a {
  text-decoration: none;
}

.vertical-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--size-100);
}

#townbox {
  min-height: 100vh;
  background-image: url("/data/img/townbox_hero.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-block-start: 2rem;
  padding-block-end: 6rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#townbox > .townbox-logo {
  max-height: 12rem;
}

#contact a.icon:any-link {
  display: inline;
  text-decoration: none;
  font-size: var(--size-150);
}

@media screen and (min-width: 1280px) {
  .hero-layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-200);
    align-items: center;
  }
  .hero-summary > p {
    font-size: var(--size-200);
  }
  .hero-illustration {
    display: flex;
    justify-content: end;
    grid-row: 1;
    grid-column: 2;
  }
  .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--size-100);
    margin-block-start: var(--size-300);
  }
  .team-card {
    flex-direction: row;
  }
  .team-card div {
    align-items: flex-start;
  }
  .team-card:last-child {
    grid-column-end: 4;
  }
  #contact a.icon:any-link {
    display: inline;
    text-decoration: none;
    font-size: var(--size-200);
  }
}
a.button:any-link {
  transition-property: transform, background;
  transition-duration: 0.1s;
  color: var(--color-text);
  --color-text: var(--swatch-vd-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--color-accent);
  padding: var(--size-100) var(--size-200);
  border-radius: var(--size-1000);
  text-decoration: none;
  font-weight: bold;
}
a.button:any-link:hover {
  transform: scale(1.05);
  background: #FF9684;
}

.theme-cream {
  --color-container: var(--swatch-vd-cream);
}

/*# sourceMappingURL=style.css.map */